In [1]:
import sklearn as skl
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
import numpy as np

In [2]:
df0 = pd.read_csv("meteo_202301-202304.csv", na_filter = True)
df1 = pd.read_csv("meteo_202109-202112.csv", na_filter = True)  
df2 = pd.read_csv("meteo_202201-202212.csv", na_filter = True) 

df3 = pd.read_csv("energia_202109-202112.csv", na_filter = True)
df4 = pd.read_csv("energia_202201-202212.csv", na_filter = True)
df5 = pd.read_csv("energia_202301-202304.csv", na_filter = True)

In [3]:
# Concatenar os DataFrames df3 e df4 ao longo das linhas (eixo 0) 
# podemos fazer isto pois os dataset df3 e df4 têm os mesmos atributos
df_energia = pd.concat([df3, df4], ignore_index=True)

# aqui temos de especificar quais são os atributos a juntar pois o data df5 não tem todos atributos do df3 e do df4
df_energia= pd.merge(df_energia, df5, on=['Data','Hora','Normal (kWh)','Horario Economico (kWh)','Autoconsumo (kWh)'], how='outer')

# Exibir o DataFrame resultante
print(df_energia)

print("------------------------------------------------------------------------------------------------------------------------")
# Concatenar os DataFrames df0,df1 e df2 ao longo das linhas (eixo 0)
# podemos fazer isto pois os dataset df0, df1 e df2 têm os mesmos atributos
df_meteriologia = pd.concat([df0, df1,df2], ignore_index=True)

print(df_meteriologia)

             Data  Hora  Normal (kWh)  Horario Economico (kWh)  \
0      2021-09-29     0         0.000                    0.000
1      2021-09-29     1         0.000                    0.000
2      2021-09-29     2         0.000                    0.000
3      2021-09-29     3         0.000                    0.000
4      2021-09-29     4         0.000                    0.000
...           ...   ...           ...                      ...
13267  2023-04-04    19         0.953                    0.000
13268  2023-04-04    20         0.915                    0.000
13269  2023-04-04    21         0.479                    0.000
13270  2023-04-04    22         0.000                    0.497
13271  2023-04-04    23         0.000                    0.487

       Autoconsumo (kWh) Injecao na rede (kWh)
0                  0.000                   NaN
1                  0.000                   NaN
2                  0.000                   NaN
3                  0.000                   NaN
4                  0.000                   NaN
...                  ...                   ...
13267              0.012                   NaN
13268              0.000                   NaN
13269              0.000                   NaN
13270              0.000                   NaN
13271              0.000                   NaN

[13272 rows x 6 columns]
------------------------------------------------------------------------------------------------------------------------
               dt                         dt_iso city_name   temp  feels_like  \
0      1672531200  2023-01-01 00:00:00 +0000 UTC     local  12.93       12.76
1      1672534800  2023-01-01 01:00:00 +0000 UTC     local  13.49       13.38
2      1672538400  2023-01-01 02:00:00 +0000 UTC     local  13.55       13.44
3      1672542000  2023-01-01 03:00:00 +0000 UTC     local  13.61       13.51
4      1672545600  2023-01-01 04:00:00 +0000 UTC     local  13.59       13.49
...           ...                            ...       ...    ...         ...
13435  1672513200  2022-12-31 19:00:00 +0000 UTC     local  15.70       15.57
13436  1672516800  2022-12-31 20:00:00 +0000 UTC     local  15.55       15.43
13437  1672520400  2022-12-31 21:00:00 +0000 UTC     local  13.45       13.28
13438  1672524000  2022-12-31 22:00:00 +0000 UTC     local  12.93       12.73
13439  1672527600  2022-12-31 23:00:00 +0000 UTC     local  12.93       12.76

       temp_min  temp_max  pressure  sea_level  grnd_level  humidity  \
0         12.72     13.43      1019        NaN         NaN        95
1         13.43     13.90      1018        NaN         NaN        95
2         13.48     14.82      1017        NaN         NaN        95
3         12.01     14.82      1016        NaN         NaN        95
4         12.01     14.82      1015        NaN         NaN        95
...         ...       ...       ...        ...         ...       ...
13435     15.57     15.72      1018        NaN         NaN        86
13436     12.72     15.70      1018        NaN         NaN        87
13437     12.23     13.99      1019        NaN         NaN        93
13438     12.23     13.43      1019        NaN         NaN        94
13439     12.23     13.43      1019        NaN         NaN        95

       wind_speed  rain_1h  clouds_all   weather_description
0            2.02     3.72         100         moderate rain
1            2.18     3.26         100         moderate rain
2            2.88     2.44         100         moderate rain
3            3.63     1.74         100         moderate rain
4            4.58     1.13         100         moderate rain
...           ...      ...         ...                   ...
13435        5.56     3.58         100         moderate rain
13436        4.47     4.20         100  heavy intensity rain
13437        3.29     4.23         100  heavy intensity rain
13438        1.49     3.90         100         moderate rain
13439        1.93     4.07         100  heavy intensity rain

[13440 rows x 15 columns]

In [4]:
print ( df_energia.nunique() )
print("---------------------")
print ( df_meteriologia.nunique() )

Data                        553
Hora                         24
Normal (kWh)               1421
Horario Economico (kWh)     982
Autoconsumo (kWh)           808
Injecao na rede (kWh)         4
dtype: int64
---------------------
dt                     13440
dt_iso                 13440
city_name                  1
temp                    2611
feels_like              2872
temp_min                 508
temp_max                 572
pressure                  43
sea_level                  0
grnd_level                 0
humidity                  82
wind_speed               809
rain_1h                  386
clouds_all               101
weather_description        8
dtype: int64

In [12]:
# Converter os atributos de data e hora no DataFrame df_energia
df_energia['data_hora'] = pd.to_datetime(df_energia['Data'] + ' ' + df_energia['Hora'].astype(str) + ':00:00')

# Remover o " UTC" da string antes de converter
df_meteriologia['dt_iso'] = df_meteriologia['dt_iso'].str.replace(' UTC', '')

# Converter o atributo de data no DataFrame df_meteriologia
df_meteriologia['data_hora'] = pd.to_datetime(df_meteriologia['dt_iso'], format='%Y-%m-%d %H:%M:%S', errors='coerce')

# Juntar os DataFrames com base no atributo de data e hora
df = pd.merge(df_energia, df_meteriologia, on='data_hora', how='outer')

         Data  Hora  Normal (kWh)  Horario Economico (kWh)  Autoconsumo (kWh)  \
0  2021-09-29   0.0           0.0                      0.0                0.0
1  2021-09-29   1.0           0.0                      0.0                0.0
2  2021-09-29   2.0           0.0                      0.0                0.0
3  2021-09-29   3.0           0.0                      0.0                0.0
4  2021-09-29   4.0           0.0                      0.0                0.0

  Injecao na rede (kWh)           data_hora  dt dt_iso city_name  ...  \
0                   NaN 2021-09-29 00:00:00 NaN    NaN       NaN  ...
1                   NaN 2021-09-29 01:00:00 NaN    NaN       NaN  ...
2                   NaN 2021-09-29 02:00:00 NaN    NaN       NaN  ...
3                   NaN 2021-09-29 03:00:00 NaN    NaN       NaN  ...
4                   NaN 2021-09-29 04:00:00 NaN    NaN       NaN  ...

   temp_min  temp_max  pressure  sea_level  grnd_level  humidity  wind_speed  \
0       NaN       NaN       NaN        NaN         NaN       NaN         NaN
1       NaN       NaN       NaN        NaN         NaN       NaN         NaN
2       NaN       NaN       NaN        NaN         NaN       NaN         NaN
3       NaN       NaN       NaN        NaN         NaN       NaN         NaN
4       NaN       NaN       NaN        NaN         NaN       NaN         NaN

   rain_1h  clouds_all  weather_description
0      NaN         NaN                  NaN
1      NaN         NaN                  NaN
2      NaN         NaN                  NaN
3      NaN         NaN                  NaN
4      NaN         NaN                  NaN

[5 rows x 22 columns]
----------------------------------------------------------------------------------------------------------------
Data                         553
Hora                          24
Normal (kWh)                1421
Horario Economico (kWh)      982
Autoconsumo (kWh)            808
Injecao na rede (kWh)          4
data_hora                  13272
dt                         13440
dt_iso                     13440
city_name                      1
temp                        2611
feels_like                  2872
temp_min                     508
temp_max                     572
pressure                      43
sea_level                      0
grnd_level                     0
humidity                      82
wind_speed                   809
rain_1h                      386
clouds_all                   101
weather_description            8
dtype: int64
----------------------------------------------------------------------------------------------------------------
feels_like
16.99    27
18.22    24
13.88    24
16.38    24
14.59    24
         ..
23.85     1
26.38     1
27.30     1
26.73     1
4.35      1
Name: count, Length: 2872, dtype: int64

In [13]:
# Exibir o DataFrame resultante
print(df.head())
print('----------------------------------------------------------------------------------------------------------------')
print(df.nunique())
print('----------------------------------------------------------------------------------------------------------------')
print(df['feels_like'].value_counts())

         Data  Hora  Normal (kWh)  Horario Economico (kWh)  Autoconsumo (kWh)  \
0  2021-09-29   0.0           0.0                      0.0                0.0
1  2021-09-29   1.0           0.0                      0.0                0.0
2  2021-09-29   2.0           0.0                      0.0                0.0
3  2021-09-29   3.0           0.0                      0.0                0.0
4  2021-09-29   4.0           0.0                      0.0                0.0

  Injecao na rede (kWh)           data_hora  dt dt_iso city_name  ...  \
0                   NaN 2021-09-29 00:00:00 NaN    NaN       NaN  ...
1                   NaN 2021-09-29 01:00:00 NaN    NaN       NaN  ...
2                   NaN 2021-09-29 02:00:00 NaN    NaN       NaN  ...
3                   NaN 2021-09-29 03:00:00 NaN    NaN       NaN  ...
4                   NaN 2021-09-29 04:00:00 NaN    NaN       NaN  ...

   temp_min  temp_max  pressure  sea_level  grnd_level  humidity  wind_speed  \
0       NaN       NaN       NaN        NaN         NaN       NaN         NaN
1       NaN       NaN       NaN        NaN         NaN       NaN         NaN
2       NaN       NaN       NaN        NaN         NaN       NaN         NaN
3       NaN       NaN       NaN        NaN         NaN       NaN         NaN
4       NaN       NaN       NaN        NaN         NaN       NaN         NaN

   rain_1h  clouds_all  weather_description
0      NaN         NaN                  NaN
1      NaN         NaN                  NaN
2      NaN         NaN                  NaN
3      NaN         NaN                  NaN
4      NaN         NaN                  NaN

[5 rows x 22 columns]
----------------------------------------------------------------------------------------------------------------
Data                         553
Hora                          24
Normal (kWh)                1421
Horario Economico (kWh)      982
Autoconsumo (kWh)            808
Injecao na rede (kWh)          4
data_hora                  13272
dt                         13440
dt_iso                     13440
city_name                      1
temp                        2611
feels_like                  2872
temp_min                     508
temp_max                     572
pressure                      43
sea_level                      0
grnd_level                     0
humidity                      82
wind_speed                   809
rain_1h                      386
clouds_all                   101
weather_description            8
dtype: int64
----------------------------------------------------------------------------------------------------------------
feels_like
16.99    27
18.22    24
13.88    24
16.38    24
14.59    24
         ..
23.85     1
26.38     1
27.30     1
26.73     1
4.35      1
Name: count, Length: 2872, dtype: int64